@model IEnumerable<ClientSide.Models.Category>

<li class="dropdown" style="position: relative; top: 0px;">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
       role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-cubes"></i> Products <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        @foreach (var cate in Model)
        {
            <li><a href="@Url.Action("Index", "Products", new { cateId = cate.CateId, cateName = cate.CateName })">@Html.DisplayFor(c => cate.CateName)</a></li>
        }
    </ul>
</li>
