@{
    ViewBag.Title = "Empty Cart Error";
}

<div class="container error-container">
    <div class="col-lg-offset-3" style="padding-left: 40px;">
        <h2 class="text-danger"><i class="fa fa-exclamation-triangle"></i> EMPTY CART ERROR</h2>
        <div class="alert alert-danger col-lg-5">
            Your cart is empty. There's nothing to check out.
        </div>
    </div>
</div>
