@{
    ViewBag.Title = "Unavailable Quantity Error";
}

<div class="container error-container">
    <div class="col-lg-offset-3">
        <h2 class="text-danger"><i class="fa fa-exclamation-triangle"></i> UNAVAILABE QUANTITY ERROR</h2>
        <div class="alert alert-danger col-lg-7">
            The request quantity exceeds the available stock. Please re-enter the required quantity again.
        </div>
    </div>
</div>
